@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.background {
  background-image: url("/charminar.jpg");
  position: relative;
  background-position: center;
}
.background-skyline {
  background-image: url("/hyderabad-skyline.jpg");
  position: relative;
  background-position: center;
}
.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.splide__slide {
  width: 13rem !important;
}
