@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.background {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.layer {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-web3conf {
  background: #f6d365;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.bg-web3conf-button {
  background: rgb(253, 159, 72);
  background: linear-gradient(
    90deg,
    rgba(253, 159, 72, 1) 0%,
    rgba(241, 111, 70, 1) 100%
  );
}
